<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jingna.xssapp">

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.LoginActivity" />
        <activity android:name=".page.ForgotPwdActivity" />
        <activity android:name=".page.ForgotPwd1Activity" />
        <activity android:name=".page.MessageActivity" />
        <activity android:name=".page.MessageDetailsActivity" />
        <activity android:name=".page.ConsumptionRecordsActivity" />
        <activity android:name=".page.ConsumptionDetailsActivity" />
        <activity android:name=".page.MyAddressActivity"></activity>
    </application>

</manifest>